.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.calendar-day {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.2s;
}

.calendar-day:hover {
  opacity: 0.7;
  z-index: 1;
}

.calendar-day.empty {
  cursor: default;
}

.calendar-day.sunday {
  background-color: #f19bc3;
}

.calendar-day.saturday {
  background-color: #77acd8;
}

.calendar-day.weekday {
  background-color: #ebbf45;
}

.calendar-day.today {
  outline: 4px solid red;
}

.calendar-day-text {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

.calendar-day-text.current {
  opacity: 1;
}

.calendar-day-text.other {
  opacity: 0.2;
}
